body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

#chapters-list {
  padding-inline: 1rem;
}

.play-button.enabled {
  background-color: red;
}
.card-container {
    display: flex;
    background: #1a1a1a;
    border-radius: 16px;
    overflow: hidden;
    max-width: 550px;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
    margin-block-end: 12px;
  }
  
  .card-container:hover {
    transform: translateY(-5px);
  }
  
  .card-image {
    position: relative;
    width: 40%;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .season-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #FFD90F; /* Amarillo Simpson */
    color: black;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 0.7rem;
  }
  
  .card-content {
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .episode-number {
    color: #FFD90F;
    font-weight: 800;
    font-size: 0.9rem;
  }
  
  .title {
    margin: 5px 0;
    font-size: 1.4rem;
  }
  
  .description {
    font-size: 0.85rem;
    color: #aaa;
    line-height: 1.4;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
  .play-button {
    background: white;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .play-button:hover {
    background: #FFD90F;
  }

  /* Estilos básicos */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
  background: #333;
  color: white;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

/* Escondemos el checkbox y el icono por defecto (escritorio) */
#menu-toggle, .hamburger {
  display: none;
}

/* Diseño para móviles */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* Mostramos las 3 rayitas */
    font-size: 1.5rem;
    cursor: pointer;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #444;
  }

  #menu-toggle:checked ~ .menu {
    display: flex;
    z-index: 10;
  }

  .menu li {
    padding: 1rem;
    border-bottom: 1px solid #555;
  }
}


  @media (width <= 430px) {
    .card-image {
      display: grid;
      place-items: center;
    }
  }